<h1>Haz pedido un cambio de contraseña.<br></h1>
<br>
<p>
    Puedes acceder a tu <a href="{{ url }}/perfil">Perfil</a> con este correo y tu nueva contraseña.</h2>
</p>
<br>
<hr>
<p>
    <i>Pagina Web: <a href="{{ url }}">{{ url }}</a><br>
        Correo Contacto: contacto@barregaray.cl
    </i>
    <br>
    Por Vicente Barrenechea y Catalina Etchegaray con mucho cariño.
</p>