<h1>Haz pedido un reseteo de contrase単a.<br></h1>
<br>
<p>
    Tu nueva contrase単a temporal es: <b>{{ pass }}</b>
    <br>
    Puedes acceder a tu <a href="{{ url }}/perfil">Perfil</a> con este correo y la contrase単a temporal.</h2>
</p>
<br>
<hr>
<p>
    <i>Pagina Web: <a href="{{ url }}">{{ url }}</a><br>
        Correo Contacto: contacto@barregaray.cl
    </i>
    <br>
    Por Vicente Barrenechea y Catalina Etchegaray con mucho cari単o.
</p>