<h1>¡Gracias por confirmar tu asistencia en nuestro matrimonio!<br></h1>
<h2>Te esperamos el 1 de marzo del 2025 para celebrar junto a nosotros.</h2>
<br>
<p>
    Tu contraseña temporal es: <b>{{ pass }}</b>
    <br>
    Puedes acceder a tu <a href="{{ url }}/perfil">Perfil</a> con este correo y la contraseña temporal para pedir un cambio.</h2>
</p>
<br>
<hr>
<p>
    <i>Pagina Web: <a href="{{ url }}">{{ url }}</a><br>
        Correo Contacto: contacto@barregaray.cl
    </i>
    <br>
    Por Vicente Barrenechea y Catalina Etchegaray con mucho cariño.
</p>